@*Admin Index View*@

@model UsersViewModel



@{
    ViewData["Title"] = "Admin";
}

<partial name="/Views/Partials/_HeaderPartial.cshtml" />

<div class="pt-5">
    <div class="pt-5">

        @foreach(var user in Model.Users)
        {
            <div class="pt-5"> 
                @user.UserName @user.FirstName @user.LastName 
            </div>
        }


    </div>
</div>