@*Admin Index View*@

@{
    ViewData["Title"] = "Admin";
}

<partial name="/Views/Partials/_HeaderPartial.cshtml" />

<div class="pt-5">
    A Form that you can enter products in.

    A grid that loops out all users.
</div>