@*Small-products Partial*@

<div class="productbottomimg">
    <div class="container">
        <img src="~/Images/placeholders/200x122.svg" alt="">
        <img src="~/Images/placeholders/200x122.svg" alt="">
        <img src="~/Images/placeholders/200x122.svg" alt="">
        <img src="~/Images/placeholders/200x122.svg" alt="">
        <img src="~/Images/placeholders/200x122.svg" alt="">
    </div>
</div>